body{
    background-color: #EACAE7;
    color: #381736;
    
}

header{ 
    background-color: #A9549D;
    color: #42213E;
    text-align: center;
}

h1{
    text-align: center;
}


div {
    background-color: #DCB9D7;
    color: #381736;
   
    width: 100%;
    text-align: center;
    
   
}

#questionField{
    
   
    text-align: center;
    
    
}

#textareadiv{
    text-align: center;
    
}
   
    