header{
    width: 100%;
    background-color: #99CCFF;
    color: #0F141A;
    Font: Georgia;
    font-size: 28pt;
    text-align: center;
}

body{
    width: 85%;
    background-color: #F5FAFF;
    Font: Verdana;
    color: #0F141A;
}

#button{
    text-align: center;
    background-color: #7AA33C;
}

footer{
    width: 100%;
    background-color:#99CCFF;
    color: #0F141A;
    Font: Georgia;
    font-size: 20pt;
    text-align: center;
}